@import url('https://fonts.googleapis.com/css2?family=Asap&family=Varela+Round&display=swap');

body {
  color: #fff;
  text-align: center;
  font-family: "Asap", "Roboto Flex", Roboto, sans-serif;
  scrollbar-color: #111 #fff;
}

input {
  font-family: "Asap", "Roboto Flex", Roboto, sans-serif;
}
.number-wrapper:after {
  color: blue;
  content: "\25B2";
  margin-top: 1px;
}

.number-wrapper:before {
  color: red;
  content: "\25BC";
  margin-bottom: 5px;
  bottom: -.5em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 10px;
}
.theme-container {
  padding: 10px;
}
.grid-item {
  border: 1px solid #666;
  padding: 5px;
  font-size: 14px;
  text-align: left;
  margin: 1px;
}
.grid-objects {
  height: 36px;
  max-width: 120px;
  border-radius: 9px;
  display: inline;
}
.banner {
  width: 100%;
  max-width: 100%;
  image-rendering: pixelated;
  object-fit: cover;
  height: auto;
  max-height: 200px;
}
.banner-container {
  width: 100%;
  max-width: 100%;
}
.button {
  background-color: rgba(0,0,0, 0);
  border-radius: 4px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
}
.button:hover {
  background-color: #444;
  transition: 0.2s;
}
.button1 {
  background-color: #111;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 5px;
  font-size: 18px;
  text-align: left;
  color: #fff;
  cursor: pointer;
  transition: 0.25s;
}
.button1:hover {
  background-color: #555;
  transition: 0.25s;
}
.button2 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 3px solid #666;
  font-size: 18px;
  text-align: left;
  color: #fff;
  padding-top: 3px;
  cursor: pointer;
  transition: 0.25s;
}
.button2:hover {
  background-color: #111;
  border-bottom: 3px solid #fff;
  transition: 0.25s;
}
@media only screen and (max-width: 1428px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 1028px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 728px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media only screen and (max-width: 456px) {
  .grid-container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.center {
  align: center;
}

h1 {
  font-family: "Varela Round", Arial, sans-serif;
}