@import url('https://fonts.googleapis.com/css2?family=Asap&family=Varela+Round&display=swap');

body {
  color: #fff;
  font-family: "Asap", "Roboto Flex", Roboto, sans-serif;
  scrollbar-color: #111 #fff;
}

.content {
  width: calc(100vw - 64px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

input {
  font-family: "Asap", "Roboto Flex", Roboto, sans-serif;
}

h1 {
  font-family: "Varela Round", Arial, sans-serif;
  margin-block-start: 0.45em;
  margin-block-end: 0.25em;
}

.featured {
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: clip;
  height: 274px;
  font-size: 32px;
}

.featured > div {display: inline-block; font-size: 15px}

.featured > .featured-app {
  border: 1px solid #666;
  border-radius: 16px;
  position: relative;
  height: 256px;
  width: 324px;
}

.featured > .featured-app > .info {
  position: absolute;
  bottom: 12px;
  left: 16px;
  width: calc(324px - 32px);
}

.featured > .featured-app > .info > .name {
  font-size: 20px;
  font-weight: bold;
  display: block;
}

.featured > .featured-app > .info > .install, input {
  border: 1px solid #666;
  border-radius: 24px;
  
  font-family: "Varela Round", Arial, sans-serif;
  padding-top: 4px;
  
  font-size: 24px;
  font-weight: bold;
  display: block;
  width: 100%;
  
  background-color: rgba(36, 36, 36, 0.2);
  color: white;
}

.search {
  font-size: 19px;
  width: 324px;
  max-width: 100%;
  font-weight: 400;
  display: inline-block;
}

.icon-btn {
  height: 32px;
  width: 32px;
  position: relative;
  top: 9px;
  background: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 100%;
  transition: 0.25s;
  outline: none;
  padding: 0px;
}

.icon-btn:hover {
  transition: 0.25s;
  background: rgba(64, 64, 64, 0.4)
}

.icon-btn > img {
  height: 100%;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #858585 #505050;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #505050;
}

*::-webkit-scrollbar-track:hover {
  background-color: #505050;
}

*::-webkit-scrollbar-track:active {
  background-color: #767676;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #858585;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #D2D2D2;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A3A3A3;
}