* {
  color-scheme: dark !important;
}
body {
  background-color: #111;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #666;
  border-radius: 12px;
  padding: 5px;
  font-size: 14px;
  text-align: left;
}
.grid-objects {
  height: 36px;
  max-width: 120px;
  border-radius: 9px;
  display: inline;
}
.button1 {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid #666;
  border-radius: 6px;
  padding: 5px;
  font-size: 18px;
  text-align: left;
  color: #fff;
  cursor: pointer;
}
.button1:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.button2 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 3px solid #666;
  font-size: 18px;
  text-align: left;
  color: #fff;
  padding-top: 3px;
  cursor: pointer;
}
.button2:hover {
  background-color: rgba(255, 255, 255, 0.25);
  border-bottom: 3px solid #fff;
}
@media only screen and (max-width: 728px) {
  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}
}
.center {
  align: center;
}